.search-block{
    margin: 0 auto;
    width: 1000px;
    padding-top: 50px;
}

.mat-form-field{
    width: 100%;
}

.result{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.search-element{
    margin: 10px;
}