<div class="search-block">
  <div class="search-input">
      <mat-form-field> 
      <input matInput placeholder="user name" [(ngModel)] = "searchUserName">
      </mat-form-field>
      <mat-form-field>         
          <input matInput placeholder="type user name" [(ngModel)] = "searchUserType">
      </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="handleChange()">Search</button>
</div>

<div class="result">
      <div *ngFor="let user of results">
          <mat-card>
              <img mat-card-avatar [src]="user.avatar_url">
            <div class="user-name">{{user.login}}</div>
          </mat-card>
      </div>
</div>
